<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>{{ city }}</h1>

	<button [routerLink]="['seattle']">Seattle WA</button> | 
	<button [routerLink]="['san-jose']">San Jose CA</button> | 
	<button [routerLink]="['burbank']">Burbank CA</button> |
	<button [routerLink]="['dallas']">Dallas TX</button> |
	<button [routerLink]="['washington']">Washington D.C.</button> |
	<button [routerLink]="['chicago']">Chicago IL</button>
	<router-outlet></router-outlet>

</div>
